@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
       <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title> Party!</title>
    </head>
    <body>
        <div>
            <div class="text-center m-2">
            <h3>We're going to have an exciting party.</h3>
                <h4>And you are invited!</h4>
        <a class = "btn btn-primary"asp-action = "RsvpForm"> RSVP now</a>

        </div>
        </div>
    </body>
</html>

